<h1>Here are the students</h1>

<% if @students.length > 0 %>
  <%= link_to 'Sorting Hat (assign students to houses)', controller: :students, action: :hat %>
<% end %>

<br />
<br />
<% @students.each do |student| %>
  <% house = student.house.nil? ? 'None' : student.house.name %>
  <li><%= link_to student.name, student %> (House: <%= house %>)</li>
<% end %>
