<h1>Welcome to Hogwarts!</h1>
<%= link_to 'View Houses', controller: :houses %>
<br />
<%= link_to 'View Students', controller: :students %>
<br />
<%= link_to 'Enroll', controller: :students, action: :new %>
